/__pycache__
/.history
/.idea
/bert-tf1/__pycache__
/bert-tf1/outputs
/bert-tf1/train.csv
/bert-tf1/uncased_L-12_H-768_A-12
/boosted_trees-tf1/__pycache__
/boosted_trees-tf1/dispatcher.log
/boosted_trees-tf1/higgs_data
/boosted_trees-tf1/higgs_ckpt
/boosted_trees-tf1/output.log
/boosted_trees-tf1/tmp*
/inception/inceptionv3_dog
/lenet-th/__pycache__
/lenet-th/data
/wide_deep/__pycache__