/__pycache__
/.idea
/server_client_model/logs
/worker_model_mnist/logs
/worker_model_mnist/estimator
/worker_model_vgg/logs
/worker_model_vgg/estimator
/.history
/bert/__pycache__
/bert/uncased_L-12_H-768_A-12
/bert/train.csv
/bert/outputs
/lenet/__pycache__
/lenet/data